.footer {
    display: flex;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    gap: 1rem;
    opacity: .3;
    font-size: 1.1rem;
    z-index: 999;
    transition: 250ms;
    padding: 1rem;
}

.footer a {
    text-decoration: underline;
}


.footer:hover {
    background-color: var(--black);
    opacity: 1;
    
}